<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mentorl - Get A Mentor At Your Location</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
	<link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
   	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
 </head>
 <body>
 </body>
</html>
</head>
<body>
	<header>
		<h1><a href="#">Mentorl</a></h1>
		<nav>
			<ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Get A Mentor</a></li>
				<li><a href="#">Contact Us<a/></li>
			</ul>
		</nav>
	</header>
	<main class="row">
		<div>
			<img src="images/img1.jpg">
		</div>
		<div>
			<h2>About Mentorl</h2>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
	</main>
	<section>
		<h2>
			Get A Mentor At Your Present Location
		</h2>
		<h4>
			Available courses
		</h4>
		<div class="styled-btn">
			<button>HTML 5</button>
			<button>CSS 3</button>
			<button>Vanilla JavaScript</button>
			<button>Bootstrap</button>
			<button>React JS</button>
			<button>PHP</button>
			<button>Laravel</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>HTML 5</button>
			<button>CSS 3</button>
			<button>Vanilla JavaScript</button>
			<button>Bootstrap</button>
			<button>React JS</button>
			<button>PHP</button>
			<button>Laravel</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>PHP</button>
			<button>Laravel</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
			<button>Html 5</button>
		</div>
		<div class="plan-cover">
			<h2>Mentorship Plan</h2>
			<p>Check out the various mentorship plan and select any of the given options to see their fee</p>
			<div class="plan">
				<div class="card">
					<h3>1 week Mentorship Plan</h3>
					<p>Select kind of mentorship you want:<br>
						<input type="radio" name="kind"> One-on-one
						<input type="radio" name="kind"> Join A Cohort
					</p>
					<p>
						Select your mode of mentorship:<br>
						<input type="radio" name="mode"> Online/virtual
						<input type="radio" name="mode"> On-site/Physical
					</p>
					<h4>Fee: $300</h4>
				</div>
				<div class="card">
					<h3>1 Month Mentorship Plan</h3>
					<p>Select kind of mentorship you want:<br>
						<input type="radio" name="kind"> One-on-one
						<input type="radio" name="kind"> Join A Cohort
					</p>
					<p>
						Select your mode of mentorship:<br>
						<input type="radio" name="mode"> Online/virtual
						<input type="radio" name="mode"> On-site/Physical
					</p>
					<h4>Fee: $300</h4>
				</div>
				<div class="card">
					<h3>3 Months Mentorship Plan</h3>
					<p>Select kind of mentorship you want:<br>
						<input type="radio" name="kind"> One-on-one
						<input type="radio" name="kind"> Join A Cohort
					</p>
					<p>
						Select your mode of mentorship:<br>
						<input type="radio" name="mode"> Online/virtual
						<input type="radio" name="mode"> On-site/Physical
					</p>
					<h4>Fee: $300</h4>
				</div>
				<div class="card">
					<h3>6 Months Mentorship Plan</h3>
					<p>Select kind of mentorship you want:<br>
						<input type="radio" name="kind"> One-on-one
						<input type="radio" name="kind"> Join A Cohort
					</p>
					<p>
						Select your mode of mentorship:<br>
						<input type="radio" name="mode"> Online/virtual
						<input type="radio" name="mode"> On-site/Physical
					</p>
					<h4>Fee: $300</h4>
				</div>
			</div>
		</div>
		<div class="mentee-form">
			<button>Get A Mentor</button>
			<form>
				<input type="text" name="full_name" placeholder="Full Name"><br>
				<input type="email" name="email" placeholder="Your Email e.g your@email.com"><br>
				<input id="phone" type="tel" name="phone" placeholder="Your Phone Number" /><br>
            	<select class="crs-country" data-region-id="one">--Country--</select><br>
   				<select id="one">--Region--</select><br>
   				<input type="text" name="address" placeholder="Nearest Bus Stop"><br>
   				<!--Select Available Mentors in Your Location -->
   				<select>
   					<option>-- Mentorship Plan --</option>
   					<option>1 week</option>
   					<option>1 month</option>
   					<option>3 months</option>
   					<option>6 months</option>
   					<option>1 year</option>
   				</select><br>
				<p>Select kind of mentorship you want:<br>
					<input type="radio" name="kind"> One-on-one
					<input type="radio" name="kind"> Join A Cohort
				</p>
				<p>
					Select your mode of mentorship:<br>
					<input type="radio" name="mode"> Online/virtual
					<input type="radio" name="mode"> On-site/Physical
				</p>
				<h4>Fee: $300</h4><br>
				<button>Register</button>
			</form>
		</div>
		<h3 class="ben-h3">Benefits of having a Mentor from Mentorl</h3>
		<div class="benefits">
			<div class="benefits-card">
				<i class="fa fa-book fa-3x" aria-hidden="true"></i>
				<p>Learning becomes easy</p>
			</div>
			<div class="benefits-card">
				<i class="fa fa-globe fa-3x" aria-hidden="true"></i>
				<p>Scaling higher in the tech space at a fast rate</p>
			</div>
			<div class="benefits-card">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
				<p>collaboration with other tech mentees</p>
			</div>
			<div class="benefits-card">
				<i class="fa fa-money fa-3x" aria-hidden="true"></i>
				<p>low cost distance and quick assimilation</p>
			</div>
		</div>
		<div class="mentor-form">
			<h3>Become A Mentor</h3>
			<form action="" method="">
				<input type="" name="" placeholder="Enter Full Name" /><br>
				<input type="" name="" placeholder="yourmail@email.com" /><br>
				<input id="phone" type="tel" name="phone" placeholder="Your Phone Number" /><br>
				<select>
					<option>--What Course can you take?</option>
					<option>Frontend Development</option>
					<option>Backend Develoment</option>
					<option>Fullstack Development</option>
					<option>Mobile App Development</option>
					<option>Ethical Hacking</option>
				</select><br>
				<select class="crs-country" data-region-id="one">--Country--</select><br>
	   			<select id="one">--Region--</select><br>
	   			<input type="" name="" placeholder="Preferred Location"><br>
	   			<p>do you have a physical location to train people. Yes <input type="radio" name="place"> No <input type="radio" name="place"></p><br>
	   			<p>Submit your CV/resume <input type="file" name=""></p><br>
	   			<input type="" name="" placeholder="submit your github link"><br>
	   			<input type="" name="" placeholder="Enter youe twitter handle">
	   			<input type="" name="" placeholder="Enter your instagram handle">
	   			<input type="" name="" placeholder="Enter your Facebook">
	   			<p>Submit your Identity card <input type="file" name="id_card"></p>
	   			<button>Submit</button>
	   			<strong>NB: <em>When selected you will get a mail in your email account</em></strong>
			</form>
		</div>
		<div class="testimony">
			
		</div>
		<div class="subscribe">
			<form action="" method="">
				<input type="email" name="" placeholder="Subscribe to our NewsLetter">
			</form>
		</div>
	</section>
	<footer>
		
	</footer>
	<script>
	   const phoneInputField = document.querySelector("#phone");
	   const phoneInput = window.intlTelInput(phoneInputField, {
	     utilsScript:
	       "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
	   });
 	</script>
 	<script type="text/javascript" src="crs.min.js">
 	</script>
</body>
</html>